{% extends 'base.html.twig' %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        {% for article in articleList %}
            <div class="row">
                <table>
                    <tr>
                        <td>
                            <h4 class="articleId" id="{{ article.title }}">{{ article.title }}</h4>
                        </td>
                        <td><a href="{{ path("edit_article", {article : article.id}) }}">modifier</a></td>
                        <td><a href="{{ path("delete_article", {article : article.id}) }}">supprimer</a></td>
                    <tr>
                </table>

                <div class="article">
                    {{ article.content | raw }}
                    <br>
                    <br>
                    {% for tag in article.tags %}
                        <div class="chip">
                            <a href="{{ path("tagged_article", {tag: tag.id}) }}">{{ tag.title }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        $('.collapsible').collapsible();

        $( "input[type=checkbox]" ).on( "click", function () {
            $.ajax({
                url: Routing.generate('check_answer', {
                    checkbox: 'id="'+$(this).val()+'"'
                }),
                type: 'GET',
                success: function () {
                    console.log('OK');
                }
            });
        } );

    </script>
{% endblock %}
